<%= render 'layouts/header' %>
<% provide(:title," پروازهاب: لیست ایرلاین‌ها و نظرات کاربران") %>
<% provide(:description," پروازهاب: لیست ایرلاین‌ها و نظرات کاربران") %>


<div class="ui container" id="search-results-container" style="padding-top: 1em; direction:rtl;">
خط هوایی مورد نظرتان را انتخاب کنید:
    <ul>
    <% Airline.where(country_code: "IR").each do |airline|  %>
		<div class="city-calendar" >
            <a href="<%= property_page_path airline.english_name  %>" >
                <li>    
                    <h4>
                    خط هوایی
                    
                        <%=  airline.persian_name  %>
                    </h4>
                </li>
            </a>   
		</div>
    <% end %>
    </ul>
</div>

<%= render 'layouts/searchbox-helper' %>
<%= render 'layouts/footer' %>