<% provide(:title," نظر کاربران و مسافران  #{@page_name} | پروازهاب")  %>
<% provide(:description,"نظر مسافران  #{@page_name} را در پروازهاب بخوانید. انتفاد و نظر خودتان را ثبت کنید.")  %>

<div class="ui container" id="search-results-container" style="direction:rtl">
<%= render 'review/register' %>

    <div class="ui stackable grid review-header">    
        <div class="six wide column right floated">    
            <h5 class="web-font" style="font-size:3.5em">
            <%= supplier_logo_for @supplier_english_name, false %>
                <%= @page_name %> 
            </h5> 
        </div>

        <div class="five wide column left floated review-rate-section"> 
            <%= get_star_icon(5,@rate_average,"yellow","big").html_safe %>
            <span class="rate-total-count" >
                از مجموع <%= @rate_count %> نظر
            </span>
                <button class="ui blue button web-font review-button" id="review-button">
                    به  <%= @page_name %>     امتیاز دهید!
                </button>
        </div>
    </div>
        <% if @reviews.empty? %>
            <div style="font-size:1.5em;line-height: 1.9em">
                <i class="smile outline loading yellow icon"></i>
                هنوز نظری ثبت نشده. اولین نفر باشید که در مورد 
                <%= @page_name %>  
                نظر می‌دهید
            </div>
        <% end %>
 
  <%= render 'list' %>
  <%= render 'create_form' %>
</div>
