<% provide(:title," نظر کاربران و مسافران  #{@supplier_persian_name} | پروازهاب")  %>
<% provide(:description,"نظر مسافران  #{@supplier_persian_name} را در پروازهاب بخوانید. انتفاد و نظر خودتان را ثبت کنید.")  %>

<div class="ui container" id="search-results-container" style="direction:rtl">
<%= render 'review/register' %>

    <div class="ui stackable grid review-header">    
        <div class="six wide column right floated">    
            <h5 class="web-font" style="font-size:3.5em">
            <%= supplier_logo_for @supplier_english_name, false %>
                <%= @supplier_persian_name %> 
            </h5> 
        </div>

        <div class="five wide column left floated review-rate-section"> 
            <%= get_star_icon(5,@rate_average,"yellow","big").html_safe %>
            <span class="rate-total-count" >
                از مجموع <%= @rate_count %> نظر
            </span>
            
                <button class="ui blue button web-font review-button" id="review-button">
                    به  <%= @supplier_persian_name %>     امتیاز دهید!
                </button>
        
        </div>
        
        
    </div>
        <% if @reviews.empty? %>
            <div style="font-size:1.5em;line-height: 1.9em">
                <i class="smile outline loading yellow icon"></i>
                هنوز نظری ثبت نشده. اولین نفر باشید که در مورد 
                <%= @supplier_persian_name %>  
                نظر می‌دهید
            </div>
        <% end %>
    
        <% @reviews.each do |review| %>
            <div class="ui grid review-section" id="<%= review.id %>">
                <div class="five wide column">
                    <div class="review-author">
                        <% if review.author.empty? %>
                            ناشناس
                        <% else %>
                            <%= review.author %>
                        <% end %>
                    </div>
                    <div class="review-date"><%= JalaliDate.new(review.created_at.to_date).strftime " %d %b %Y"  %></div>
                    <% unless review.rate.nil? %>
                        <div class="review-rate"><%= get_star_icon(5,review.rate,"yellow","small").html_safe %></div>
                    <% end %>
                </div>
                <div class="eleven wide column">
                    <%= review.text %>
                </div>
            </div>
        <% end %>

    <div id="review-register-alert" style="padding-top:1em;"></div>
    <div id="review-register-form">
        <%= form_tag(create_review_path, method: :post, class: "ui form") do %>
            <h4 class="ui dividing header">نظرتان در مورد کیفیت خدمات 
            <%= @supplier_persian_name %>  
            چیست؟ </h4>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>اسم</label>
                        <%= text_field_tag :author, "",class: "web-font" %>
                    </div>
                    <div class="field">
                        <label>ستاره</label>
                        <select class="ui fluid dropdown" name="rate">
                            <option value="">انتخاب کنید</option>    
                            <option value="1">یک ستاره</option>
                            <option value="2">دو ستاره</option>
                            <option value="3">سه ستاره</option>
                            <option value="4">چهار ستاره</option>
                            <option value="5">پنج ستاره</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>از تجربه‌ی خرید بلیط‌تان از  <%= @supplier_persian_name %>   بنویسید</label>
                <%= text_area_tag :text %>
                <%= hidden_field_tag(:page, @page) %>
                <%= hidden_field_tag(:category, "supplier") %>
            </div>
            <div class="field center aligned">
                <%= submit_tag "ثبت کن", class: "ui submit web-font blue button fluid" %>
            </div>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%end%>
    </div>
</div>
<script>
$( "#review-button" ).click(function() {
    $('html, body').animate({
        scrollTop: $("#review-register-form").offset().top
    }, 1000);
    $('#review-register-form')
     .transition('shake');
    });

</script>
