<% provide(:title,"Compare Flights") %>
<div class="ui vertical masthead segment" id="cover-photo" style="direction: rtl">  
	<div class="ui container text center header" style="margin-top: 5%;font-size: 2.2em;">
		<h1 class="ui huge header inverted center aligned">Let's Compare Flights</h1>
	</div>

	<div class="ui container" style="margin-top: 5%">
	  	<div class="ui segments" id="search-box" style="width: 70%;margin: auto;">
	   		<%= form_for(:search, url: search_path, method: :get) do |f| %>
	    		<div class="ui huge form" style="padding: 3%">
	     			<div class="two fields">
	      				<div class="field">
		   					<% @cities ={Tehran:"thr",Mashhad:"MHD",Kish:"kih", Shiraz: "syz", Isfahan:"isf"} %>
		   					<%= f.select :origin, @cities.map{ |x,y| [x, y]}, {},{:class =>'ui dropdown'} %>
	      				</div>
	      				<div class="field">
							<% @cities ={Mashhad:"MHD",Tehran:"thr",Kish:"kih", Shiraz: "syz", Isfahan:"isf"} %>
		   					<%= f.select :destination, @cities.map{ |x,y| [x, y]}, {},{:class =>'ui dropdown'} %>
	      				</div>
	      				
	  				</div>
	  				<div id="date-picker" style="height: 10em; font-family: samim;">
							<%= f.text_field :date, {id: 'date-picker-field'} %>
	      			</div>
	  				<div class="ui center aligned basic segment" style="margin-top: 50px;">
	  					<%= f.submit "Search", class: "ui submit button massive yellow" %>
	  				</div>
				</div>
			<%end%>
		</div>		
	</div>	
</div>

<%= render 'layouts/searchbox-helper' %>
