<% provide(:title,"Olla Search") %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
	<%= form_for(:search, url: search_path) do |f| %>
		<div class="form-group">
			<%= f.label :Origin %>
			<%= f.text_field :origin, class:'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :Destination %>
			<%= f.text_field :destination, class:'form-control'%>
		</div>

		<div class="form-group">
			<%= f.label :Date %>
			<%= f.text_field :date, {id: 'date-picker', class:'form-control'} %>
		</div>
	
		<div class="form-group">
			<%= f.submit "Search", class: "btn btn-primary btn-lg btn-block" %>
		</div>
	<%end%>
</div>
<script type="text/javascript">
	    $('#date-picker').datepicker({
	    	format: 'mm/dd/yyyy',
	    	daysOfWeekHighlighted: "5",
    		todayHighlight: true,
    		autoclose:true
    });
</script>

