<% provide(:title,"Olla Search") %>
<div class="ui vertical masthead segment" id="cover-photo" style="direction: rtl">  
	<div class="ui container text center header" style="margin-top: 5%;font-size: 2.2em;color: #04a29b;">
		<h1 class="ui huge header teal center aligned">Lets Compare Flights</h1>
	</div>

	<div class="ui container" style="margin-top: 5%">
	  	<div class="ui segments" id="search-box">
	   		<%= form_for(:search, url: search_path, method: :get) do |f| %>
	    		<div class="ui huge form" style="padding: 3%">
	     			<div class="three fields">
	      				<div class="field">
	       					<%= f.label :Origin %>
		   					<% @cities ={Tehran:"thr",Mashhad:"MHD",Kish:"kih", Shiraz: "syz", Isfahan:"isf"} %>
		   					<%= f.select :origin, @cities.map{ |x,y| [x, y]}, {},{:class =>'ui dropdown'} %>
	      				</div>
	      				<div class="field">
	      					<%= f.label :Destination %>
							<% @cities ={Mashhad:"MHD",Tehran:"thr",Kish:"kih", Shiraz: "syz", Isfahan:"isf"} %>
		   					<%= f.select :destination, @cities.map{ |x,y| [x, y]}, {},{:class =>'ui dropdown'} %>
	      				</div>
	      				<div class="field ui calendar" id="date-picker">
							<%= f.label :Date %>
							<div class="ui input left icon">
      							<i class="calendar icon"></i>
								<%= f.text_field :date, {id: 'example3', class:'form-control'} %>
							</div>
	      				</div>
	  				</div>
	  				<div class="ui center aligned basic segment">
	  					<%= f.submit "Search", class: "ui submit button massive teal" %>
	  				</div>
				</div>
			<%end%>
		</div>		
	</div>	

</div>

<script type="text/javascript">
	//dropdown for semantic-ui
	$('.ui.dropdown').dropdown(); 
	//calendar
	$('#date-picker').calendar({
	type: 'date',
    formatter: {
    	date: function (date, settings) {
	      if (!date) return '';
	      var day = date.getDate();
	      var month = date.getMonth() + 1;
	      var year = date.getFullYear();
	      return year + '-' + month + '-' + day;
    }
  }
});
</script>


  
<script>

</script>



