<% provide(:title,"Compare Flights") %>
<div class="ui container">

<div class="ui" id="search-box-inner">
	<%= form_for(:search, url: search_path, method: :get) do |f| %>
		<div class="ui form">
			<div class="four fields">
				<div class="field">
					<% @cities ={thr:"Tehran",mhd:"Mashhad",kih:"Kish",syz:"Shiraz",isf:"Isfahan"} %>
					<%= f.select :origin, @cities.map{ |x,y| [y,x]}, {:selected => @search_parameter[:origin]},{:class =>'ui dropdown'} %>
				</div>
				<div class="field">
					<% @cities ={mhd:"Mashhad",thr:"Tehran",kih:"Kish",syz:"Shiraz",isf:"Isfahan"} %>
					<%= f.select :destination, @cities.map{ |x,y| [y,x]}, {:selected => @search_parameter[:destination]},{:class =>'ui dropdown'} %>
				</div>
				<div class="field ui calendar">
					<div class="ui input left icon">
						<i class="calendar icon"></i>
						<%= f.text_field :date, {id: 'date-picker', class:'form-control', value: @search_parameter[:date]} %>
					</div>
				</div>
				<div class="field center aligned">
					<%= f.submit "Search", class: "ui submit button blue" %>
				</div>
			</div>
		</div>
	<%end%>
</div>


<table class="ui very basic striped table ">
  	<thead>
		<tr class="center aligned">
  			<td><h4>Airline</h4></td>
  			<td><h4>Flight Number</h4></td>
  			<td><h4>Departure Time</h4></td>
  			<td><h4>Airplane</h4></td>
  			<td><h4>price</h4></td>
  		</tr>
  	</thead>
	<tbody>
		<% @flights.each do |flight|  %>
		<tr class="center aligned">
			<td><%= airline_logo_for flight.airline_code %></td>
			<td><%= flight.flight_number %></td>
			<td><%= flight.departure_time.to_datetime.strftime("%H:%M") %></td>
			<td><%= flight.airplane_type %></td>
			<td>
			<table class="ui  very basic table">
				<% flights_query = flight.flight_prices.select("DISTINCT ON (supplier) *").where('created_at >= ?', ENV["SEARCH_RESULT_VALIDITY_TIME"].to_f.minutes.ago).order("supplier,updated_at desc") %>
				<% flights_query.to_a.sort_by(&:price).each_with_index do |ticket,index| %>
					<tr class="center aligned <%='best-price' if index==0 %>" >
						<td><%= ticket.nil? ? "-" : ticket.supplier %></td>
						<td><%= link_to(ticket.nil? ? "-" : number_with_delimiter(ticket.price),ticket.deep_link)%></td>
						<td style="font-size: 0.7em;padding-left: 5px"><%=   (ticket.updated_at+ENV["IRAN_ADDITIONAL_TIMEZONE"].to_i.minutes).strftime("%H:%M") %></td>
					</tr>
				<% end %>
			</table>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>

<%= render 'layouts/searchbox-helper' %>