
<%= render 'layouts/header' %>
<% provide(:title,"بلیط #{@destination.persian_name} | پرواز #{@origin.persian_name} #{@destination.persian_name} | پروازهاب" ) %>
<% provide(:description,"ارزان‌ترین بلیط #{@destination.persian_name}. تمام پروازهای چارتری و سیستمی #{@origin.persian_name} به #{@destination.persian_name}  در پروازهاب") %>

<div class="ui stackable one column grid centered wide-search-box"  id="city-page-search-box">
<h1 class="city-header">
	جستجو و مقایسه قیمت پروازهای <%= "#{@origin.persian_name} به #{@destination.persian_name}" %>
</h1>
   		<%= form_for(:search, url: flight_search_path, method: :get, html: {id:"flight_search",class:"city-page-search-form"}) do |f| %>
    		<div class="ui huge form" >
     			<div class="two fields">
					<div class="field input-container">
					 	<label class="search-label">از</label>
				 		<%= f.text_field :originـfield,{:value => @origin.persian_name, :class =>'origin-field typeahead dir-rtl web-font',placeholder: "از مبدا (شهر یا فرودگاه)"} %>						   
				 		<%= f.hidden_field :origin,{:id =>'origin', :value => @origin.english_name} %>
			 		</div>
			 
					 <div class="field input-container">
					 	<label class="search-label">به</label>
				 		<%= f.text_field :destination_field,{:value => @destination.persian_name, :class =>'destination-field typeahead dir-rtl web-font',placeholder: "به مقصد (شهر یا فرودگاه)"} %>
				 		<%= f.hidden_field :destination,{:id =>'destination', :value => @destination.english_name} %>
			 		</div> 
  				</div>
  				<div class="field ui calendar">
						<div class="ui input left icon">
							<i class="calendar icon"></i>
							<%= f.text_field :date_shamsi, {id: 'date-picker', class:'form-control web-font', readonly: 'readonly', autocomplete: 'off'} %>
							<%= f.text_field :date, {id: 'date-picker-field'} %>
						</div>
					</div>
  				<div class="ui center aligned basic segment">
  					<button class="ui submit massive yellow web-font fluid right labeled  icon button waiting-modal" type="submit">
							<i class="right arrow icon"></i>
							نمایش پروازها
					</button>
				</div>
			</div>
		<%end%>
		<div class="city-page-toggle-box">
		برگشت
		</div>
	</div>


	<div class="ui stackable one column grid centered wide-search-box"  id="link-dates">
		<h1 class="city-header">
			جستجوی پروازهای <%= "#{@origin.persian_name} به #{@destination.persian_name}" %> برای روزهای آينده
		</h1>
		<% @calendar_view_prices.each_with_index do |price,index| %>
			<% next if ((@link_count > 3) or (price[:date].to_date<Date.today)) %>
			<div  class="page-button-links" >
				<a href="<%= search_link_builder(@origin.english_name,@destination.english_name,price[:date]) %>" class="white">
					<button class="ui submit big yellow web-font fluid right labeled  icon button waiting-modal link-dates-button" style="padding-left: 2.5em !important; font-size:0.9em !important;" >	
					 بلیط 
						<%= "#{@origin.persian_name} به #{@destination.persian_name}" %>
						<%=price[:date].to_date.to_parsi.strftime "%A %-d %B"  %>	
						<%= "از #{number_with_delimiter(price[:price])} تومان" unless price[:price].nil? %>		
					
						<i class="right arrow icon"></i>
					</button>
				</a>
				
			</div>	
			<% @link_count+=1 %>				
		<% end %>
		<div class="city-page-toggle-box">
			 تاریخ دیگری قصد سفر دارید؟ اینجا کلیک کنید
			<br/>
			<%= link_to("دیدن قیمت‌های مسیر برگشت", route_page_path(@destination.english_name,@origin.english_name),{style: "color:white"}) %>
		</div>
	</div>

<div class="ui container" id="search-results-container" style="padding-top: 1em">
	
	<div class="city-calendar" id="city-calendar" >
		<h4>
			<b class="yellow">کمترین</b>
            قیمت بلیط <%= "#{@origin.persian_name} به #{@destination.persian_name}" %> برای یک نفر
        </h4>
		<table class="ui celled table stackable rtl">
		  	<thead class="not-mobile">
				<tr class="center aligned web-font">
		  			<th class="table-header">شنبه</th>
		  			<th class="table-header">یکشنبه </th>
		  			<th class="table-header">دوشنبه</th>
		  			<th class="table-header">سه‌شنبه</th>
		  			<th class="table-header">چهارشنبه</th>
		  			<th class="table-header">پنج‌شنبه</th>
		  			<th class="table-header">جمعه</th>
		  		</tr>
		  	</thead>
			<tbody>
				<% @calendar_view_prices.each_with_index do |price,index|%>
					<% if index%7 == 0 %>
						<tr class="center aligned very basic">
					<% end %>	
					<%if price[:date].to_date<Date.today #date is in the past %> 
						<td class="center aligned disable"></td>
					<%else%>	
						<td class="center aligned">
							<a href="<%= search_link_builder(@origin.english_name,@destination.english_name,price[:date]) %>" >
								<div class="route-calendar-box">
									<div class="route-calendar-date">
										<span class="mobile-only">پرواز 
											<%= "#{@origin.persian_name}  #{@destination.persian_name}" %>
											<%=price[:date].to_date.to_parsi.strftime "%A"  %>	
										</span>
										<%=price[:date].to_date.to_parsi.strftime "%-d %B"  %>	
									</div>
									<div class="route-calendar-price">
										<% if number_with_delimiter(price[:price]).nil? %>
											جستجو
										<% else %>
											<%= "از #{number_with_delimiter(price[:price])} تومان"  %>	
										<% end %>
										<i class="right arrow icon yellow"></i>
									</div>
								</div>
							</a>	
						</td>
					<% end %>	

					<% if ((index%7 == 6) || (index == 34)) %>
						</tr>
					<% end %>	
							
				<% end %>
			</tbody>
		</table>
	</div>

	<%= render :partial => "route/price_chart", :locals => {prices: @prices, origin: @origin.persian_name, destination: @destination.persian_name } %>

	<% unless @today_statistic[:count] == 0 %>
		<div class="city-calendar" >
			<h4>
				برنامه پروازی
				<b class="yellow"> امروز</b>
				<%= "#{@origin.persian_name} به #{@destination.persian_name}" %> 
			</h4>
			<p>
				امروز
				<%= @today_statistic[:date].to_date.to_parsi.strftime "%A %-d %B"   %>
				<%= @today_statistic[:count] %>
				پرواز  در مسیر 
				<%= "#{@origin.persian_name} به #{@destination.persian_name}" %> 
				پرواز می‌کنند. اولین پرواز امروز ساعت
				<%= @today_statistic[:first_flight_time] %> 
				است. آخرین پرواز امروز ساعت
				<%= @today_statistic[:last_flight_time] %> 
				خواهد بود.
			</p>
		</div>
	<% end %>

	<% unless @tomorrow_statistic[:count] == 0 %>	
		<div class="city-calendar" >
			<h4>
				برنامه پروازی
				<b class="yellow"> فردا</b>
				<%= "#{@origin.persian_name} به #{@destination.persian_name}" %> 
			</h4>
			<p>
				فردا
				<%= @tomorrow_statistic[:date].to_date.to_parsi.strftime "%A %-d %B"   %>
				<%= @tomorrow_statistic[:count] %>
				پرواز  در مسیر 
				<%= "#{@origin.persian_name} به #{@destination.persian_name}" %> 
				پرواز می‌کنند. اولین پرواز فردا ساعت
				<%= @tomorrow_statistic[:first_flight_time] %> 
				است. آخرین پرواز فردا ساعت
				<%= @tomorrow_statistic[:last_flight_time] %> 
				خواهد بود.
			</p>
		</div>
	<% end %>

	<% unless @day_after_statistic[:count] == 0 %>
		<div class="city-calendar" >
			<h4>
				برنامه پروازی
				<b class="yellow"> پس‌فردا</b>
				<%= "#{@origin.persian_name} به #{@destination.persian_name}" %> 
			</h4>
			<p>
				پس‌فردا
				<%= @day_after_statistic[:date].to_date.to_parsi.strftime "%A %-d %B"   %>
				<%= @day_after_statistic[:count] %>
				پرواز  در مسیر 
				<%= "#{@origin.persian_name} به #{@destination.persian_name}" %> 
				پرواز می‌کنند. اولین پرواز پس‌فردا ساعت
				<%= @day_after_statistic[:first_flight_time] %> 
				است. آخرین پرواز پس‌فردا ساعت
				<%= @day_after_statistic[:last_flight_time] %> 
				خواهد بود.
			</p>
		</div>
	<% end %>

	<% unless @route_days.size == 0 %>
	<div class="city-calendar" >
		<h4>
			چه روزهایی
			<%= "#{@origin.persian_name} به #{@destination.persian_name}" %> 
			پرواز دارد؟
		</h4>
		<p>
		<% @route_days.each do |day|   %>
			<%= week_day_to_human_persian day  %>
		<% end %>
		</p>
	</div>
<% end %>


</div>
<%= render 'layouts/searchbox-helper' %> 
<%= render 'layouts/footer' %>