<% provide(:title,"خانه") %>
<%= render 'menu' %>

<div class="ui container" style="margin-top: 2em">

	<h4 class="ui horizontal divider header">
		Today
	</h4>
	<div class="ui statistics">
		<div class="orange statistic">
			<div class="value">
				<%= user_search_history(Date.today)  %>
			</div>
			<div class="label">
				Search 
			</div>
		</div>
		<div class="orange statistic">
			<div class="value">
				<%= user_flight_price_history(Date.today) %>
			</div>
			<div class="label">
				Supplier
			</div>
		</div>
		<div class="orange statistic">
			<div class="value">
				<%= redirect(Date.today) %>
			</div>
			<div class="label">
				Redirect
			</div>
		</div>
		<div class="orange statistic">
			<div class="value">
				<%= user(Date.today) %>
			</div>
			<div class="label">
				User
			</div>
		</div>
		<div class="orange statistic">
			<div class="value">
				<%= review(Date.today) %>
			</div>
			<div class="label">
				Reviews
			</div>
		</div>
	</div>

</div>