<% provide(:title,"کاربران") %>
<%= render 'menu' %>

<div class="ui container" style="margin-top: 2em">

	<h4 class="ui horizontal divider header">
	Reviews
	</h4>
	<div class="ui statistics">
		<div class=" statistic">
			<div class="value">
				<%= Review.count %>
			</div>
			<div class="label">
				Total review
			</div>
		</div>
		<div class="yellow statistic">
			<div class="value">
				<%= Review.where("created_at > ?", Date.today).count %>
			</div>
			<div class="label">
				Today review
			</div>
		</div>
	</div>
	
	<h4 class="ui horizontal divider header">
	Details
	</h4>

	<table class="ui celled striped table ">
		
		<tbody>
			<% @reviews.each do |review|  %>
			<tr class="center aligned">
				<td><%= review.id %></td>
				<td><%= review.author %></td>
				<td><%= review.page %></td>
				<td><%= review.text %></td>
				<td><%= review.rate %></td>
				<td><%= review.status %></td>
				<td><%= time_ago_in_words(review.created_at) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>