<% provide(:title,"ریویوها") %>
<%= render 'menu' %>

<div class="ui container" style="margin-top: 2em">

	<h4 class="ui horizontal divider header">
	Reviews
	</h4>
	<div class="ui statistics">
		<div class=" statistic">
			<div class="value">
				<%= Review.count %>
			</div>
			<div class="label">
				Total review
			</div>
		</div>
		<div class="yellow statistic">
			<div class="value">
				<%= Review.where("created_at > ?", Date.today).count %>
			</div>
			<div class="label">
				Today review
			</div>
		</div>
	</div>
	
	<h4 class="ui horizontal divider header">
	Details
	</h4>

  <table class="ui celled striped table ">
    <tbody>
      <% @reviews.last(100).each do |review|  %>
        <tr class="center aligned">
          <td><%= review.id %></td>
          <td>
            <% if review.user.anonymous? %>
              <%= review.author %>
            <% else %>
              <a href="<%= admin_show_user_path(id: review.user_id) %>">
                <%= review.user.full_name %>
              </a>
            <% end %>
          </td>
          <td><%= review.page %></td>
          <td><%= review.text %></td>
          <td><%= review.rate %></td>
          <td><%= time_ago_in_words(review.created_at) %></td>
          <td>
            <%= form_for(:review, url: admin_update_review_path, method: :post, html: {id:"review_form"}) do |f| %>
              <%= f.hidden_field :id, {:value => review.id} %>
              <% if review.published? %>
                <%= f.hidden_field :published,{ :value => false} %>
                <div class="ui small basic icon buttons">
                  <button type="submit" value="review[submit]" class="ui button"><i class="toggle on icon"></i></button>
                </div>
              <% else %>
                <%= f.hidden_field :published,{ :value => true} %>
                <div class="ui small basic icon buttons">
                  <button type="submit" value="review[submit]" class="ui button"><i class="toggle off icon"></i></button>
                </div>
              <% end %>
            <%end%>
            <%= form_for(:review, url: admin_update_review_path, method: :delete, html: {id:"review_form"}) do |f| %>
              <%= f.hidden_field :id, {:value => review.id} %>
                <div class="ui small basic icon buttons">
                  <button type="submit" value="review[submit]" class="ui button"><i class="trash alternate icon"></i></button>
                </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
