<% provide(:title,"Users") %>
<div class="ui container" style="margin-top: 2em">
<table class="ui celled striped table ">
	<thead>
		<tr class="center aligned">
            <th><h4>Id</h4></th>
            <th><h4>Email</h4></th>
  			<th><h4>Name</h4></th>
            <th><h4>Channel</h4></th>
            <th><h4>Created at</h4></th>
  		</tr>
  	</thead>
	<tbody>
		<% @users.each do |user|  %>
		<tr class="center aligned">
			<td><%= user.id %></td>
			<td><%= user.email %></td>
			<td><%= user.first_name %> <%= user.last_name %></td>
			<td><%= user.channel %></td>
			<td><%= time_ago_in_words(user.created_at) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>