
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="direction: rtl;text-align: right;width: 800px; margin: auto;font-family: tahoma">
    <p style="width:100%;display: block;text-align: center; background: #29aae1;color: white">
      <br>
      <br>
      پروازهاب
      <br>
      <br>
      <span style="display: inline-block; text-align: right;font-family: tahoma; border-top: 1px solid white;padding-top: 20px;">لیست پروازهای 
        <%= @cities[@search_parameter[:origin].to_sym][:fa]%> 
        به 
        <%= @cities[@search_parameter[:destination].to_sym][:fa]%> 
        برای
        <%= @search_parameter[:date].to_date.to_parsi.strftime "%A %d %B %Y" %> 
        </span>
      <br>
      <br>
    </p>
    <br>
    
      <table style="direction: rtl; width: 600px; margin: auto; display: block; border: 1px solid #eee">
      <tbody>
        <% @flights.each do |flight|  %>
          <% unless flight.best_price == 0 %>
            <tr style="text-align: center;font-family: tahoma">
              <td style="text-align: center;font-family: tahoma; width: 150px">
                <%= airline_logo_for(flight.airline_code,"40px") %> 
              </td>
              <td style="text-align: center;font-family: tahoma; width: 150px">
                <h5 style="text-align: center;font-family: tahoma">
                  <%= airline_name_for flight.airline_code %>
                </h5>
              </td>
              <td style="width: 150px">
                <%= hour_to_human flight.departure_time.to_datetime.strftime("%H:%M") %>
              </td>
              <td style="width: 150px">
                <%= link_to number_with_delimiter(flight.best_price)+" تومان", "http://parvazhub.com"+search_link_builder(@search_parameter[:origin],@search_parameter[:destination],@search_parameter[:date]), class: "ui teal label large flight-price", target: "blank" %>
              </td>
            </tr>
          <% end %> 
        <% end %>
      </tbody>
    </table>
    <br><br>
    <p style="background: #f0f8ff; margin:auto; font-size: small; text-align: right;padding: 10px;width: 600px;font-family: tahoma">
       این ایمیل به دلیل ثبت‌نام ایمیل شما در پروازهاب ارسال شده است. اگر اشتباهی رخ داده است یا مایل به دریافت این ایمیل نیستید لطفا در جواب همین ایمیل به ما اطلاع دهید.
    </p>
    <br>

    <p style="font-family: tahoma">
    سفر بی خطر :‌)
    <br>
    </p>
    <a href="http://parvazhub.com"><b>پرواز هاب</b></a>
  </div>
  </body>
</html>