<% provide(:title,"مقایسه و خرید بلیط هواپیما | پروازهاب") %>
<% provide(:description,"ارزان‌ترین فروشنده بلیط پرواز داخلی یا خارجی را در پروازهاب به راحتی پیدا کنید.") %>

<header>

<div class="ui grid" id="header">
  		<div class="two column row">
    		<div class="right floated left aligned column">
    		</div>
    		<div class="left floated right aligned column">
    			<%#= render 'devise/menu/login_items' %>
    			<%#= render 'devise/menu/registration_items' %>
       		</div>
  		</div>
	</div>
</header>

<div class="ui vertical masthead segment" id="cover-photo" style="direction: rtl; margin-bottom: 2em;">  
	<div class="ui container text center aligned header" id="slogan">
		<a href="/">
    		<div class="item" id="slogan-text">
      			<!--<i class="circle notched icon" style="color: white"></i>-->
      			<span id="company-name">پروازهاب</span>
    		</div>
  		</a>
		<h1 class="ui header inverted center aligned web-font" style="line-height: 2em;font-size: 1.28rem !important;">
			<span id="slogan-description">
					
				جستجو و مقایسه 
				<b class="yellow">رایگان</b>	
				بلیط پروازهای
				<b class="yellow"> داخلی و خارجی </b>	
				از سایت‌های معتبر 

			</span>	
		</h1>
	</div>

	<div class="ui stackable one column grid centered" style="margin-top: 1em">
   		<%= form_for(:search, url: flight_search_path, method: :get, html: {id:"flight_search"}) do |f| %>
    		<div class="ui huge form" >
     			<div class="two fields">
      				<div class="field input-container">
						   <%= f.text_field :originـfield,{:class =>'origin-field typeahead dir-rtl web-font',placeholder: "مبدا (شهر فارسی یا انگلیسی)"} %>						   
						   <%= f.hidden_field :origin,{:id =>'origin',:value =>'tehran'} %>
					  </div>
					  
					  
      				<div class="field input-container">
					  <%= f.text_field :destination_field,{:class =>'destination-field typeahead dir-rtl web-font',placeholder: "مقصد (شهر فارسی یا انگلیسی)"} %>
					  <%= f.hidden_field :destination,{:id =>'destination',:value =>'mashhad'} %>
      				</div> 
  				</div>
  				<div id="date-picker" style="height: 10em; font-family: samim;">
						<%= f.text_field :date, {id: 'date-picker-field'} %>
      			</div>
  				<div class="ui center aligned basic segment" style="margin-top: 50px;">
  					<button class="ui submit massive yellow web-font fluid right labeled waiting-modal icon button" type="submit">
							<i class="right arrow icon"></i>
							نمایش پروازها
					</button>
  				</div>
			</div>
		<%end%>
	</div>

	<div>
		<h4 class="home-calendar-title">
		<i class="checked calendar icon"></i>
			تاریخی برای سفرتان ندارید؟ ارزان‌ترین قیمت‌ها را روی تقویم ببینید:<br><br>
			<%= link_to "تهران به کیش", route_page_path(origin_name:  "tehran",destination_name: "kish"),class:"city-page-link" %>،
			<%= link_to "تهران به مشهد", route_page_path(origin_name:  "tehran",destination_name: "mashhad"),class:"city-page-link" %>،
			<%= link_to "تهران به استانبول", route_page_path(origin_name:  "tehran",destination_name: "istanbul"),class:"city-page-link" %>
			
		</h4>
	</div>
	
</div>

<div class="ui four stackable cards" style="width:80%;margin:auto;">
	<% @routes.each do |route| %>
		<div class="card">
			<div class="content">
				<div class="header web-font text-center">
					<a  href="<%= flight_result_path(route[:details][:origin][:english_name], route[:details][:destination][:english_name], "tomorrow") %>">
						<%= route[:details][:origin][:persian_name] %>
							به
						<%= route[:details][:destination][:persian_name] %>
					</a>
				</div>
				<div class="description text-center dir-rtl">
					<a  href="<%= flight_result_path(route[:details][:origin][:english_name], route[:details][:destination][:english_name], "tomorrow") %>">
						<%= tomorrow_price(route[:route]) %>	
					</a>	
				</div>
			</div>
			<a style="color:white" href="<%= flight_result_path(route[:details][:origin][:english_name], route[:details][:destination][:english_name], "tomorrow") %>">
				<div class="ui bottom attached button yellow web-font dir-rtl">
					نمایش پروازهای فردا
					<i class="right arrow icon"></i>				
				</div>
			</a>
		</div>
	<% end %>   
</div>

<%= render 'layouts/searchbox-helper' %>   
<%= render 'layouts/footer' %>
