<% provide(:title,"مقایسه و خرید بلیط هواپیما | پروازهاب") %>
<% provide(:description,"ارزان‌ترین فروشنده بلیط پرواز داخلی یا خارجی را در پروازهاب به راحتی پیدا کنید.") %>

<header>
  <div class="ui grid" id="header">
    <div class="two column row">
      <div class="right floated left aligned column">
      </div>
      <div class="left floated right aligned column">
        <%#= render 'devise/menu/login_items' %>
        <%#= render 'devise/menu/registration_items' %>
      </div>
    </div>
  </div>
</header>

<div class="ui vertical masthead segment" id="cover-photo" style="direction: rtl; margin-bottom: 2em;">  
  <div class="ui container text center aligned header" id="slogan">
    <a href="/">
      <div class="item" id="slogan-text">
        <span id="company-name">پروازهاب</span>
      </div>
    </a>

    <h1 class="ui header inverted center aligned web-font" style="line-height: 2em;font-size: 1.28rem !important;">      <span id="slogan-description">
				جستجو و مقایسه 
				بلیط پروازهای
        <b class="yellow"> داخلی </b>
				از سایت‌های معتبر 
      </span>
    </h1>
  </div>

  <div class="ui stackable one column grid centered" style="margin-top: 1em">
    <%= form_for(:search, html: {id:"flight_search"}) do |f| %>
      <div class="ui huge form" >
        <div class="two fields">
          <div class="field input-container">
            <label class="search-label">از</label>
              <%= f.text_field :originـfield,{:class =>'origin-field typeahead dir-rtl web-font',placeholder: "مبدا (شهر فارسی یا انگلیسی)", :value => @search_parameter[:origin_persian_name]} %>
              <%= f.hidden_field :origin,{:id =>'origin',:value => @search_parameter[:origin_english_name]} %>
          </div>
          <div class="field input-container">
            <label class="search-label">به</label>
              <%= f.text_field :destination_field,{:class =>'destination-field typeahead dir-rtl web-font',placeholder: "مقصد (شهر فارسی یا انگلیسی)", :value => @search_parameter[:destination_persian_name]} %>
              <%= f.hidden_field :destination,{:id =>'destination',:value => @search_parameter[:destination_english_name]} %>
          </div>
        </div>
        <div id="date-picker" style="height: 10em; font-family: samim;">
          <%= f.text_field :date, {id: 'date-picker-field', value: @search_parameter[:date]} %>
        </div>
        <div class="ui center aligned basic segment" style="margin-top: 50px;">
          <button class="ui submit massive yellow web-font fluid right labeled waiting-modal icon button">
            <i class="right arrow icon"></i>
							نمایش پروازها
          </button>
        </div>
      </div>
    <%end%>
  </div>


  <div>
		<h4 class="home-calendar-title">
		<i class="checked calendar icon"></i>
			تاریخی برای سفرتان ندارید؟ ارزان‌ترین قیمت‌ها را روی تقویم ببینید:<br><br>
			<%= link_to "تهران به کیش", route_page_path(origin_name:  "tehran",destination_name: "kish"),class:"city-page-link" %>،
			<%= link_to "تهران به مشهد", route_page_path(origin_name:  "tehran",destination_name: "mashhad"),class:"city-page-link" %>
		</h4>
	</div>
	
</div>

<% unless @user_last_searches.nil? %>
	<div class="ui horizontal divider">
	آخرین جستجوهای شما
	</div>
	<div class="ui three stackable cards" style="width:70%;margin:auto;direction:rtl">
		<% @user_last_searches.each do |user_last_search| %>
			<div class="card">
				<div class="content">
					<div class="header web-font text-right" style="color: #7b7777">
						<i class=" plane icon"></i>
						<%= persian_title_by_route user_last_search[:route_id] %>
					</div>
					<% user_last_search[:dates].each_with_index do |date, index| %>
						<% if index < @user_last_searches_limit %>
							<div class="description text-center dir-rtl" style="padding-top: 4px">
							      <a  href="<%= flight_page_path_by_route user_last_search[:route_id], date  %>">
									<%= JalaliDate.new(date.to_date).strftime("%A %e %b").to_fa %>
									<i class="right arrow icon"></i>
								</a>	
							</div>
						<% end %> 	
					<% end %>   
				</div>
			</div>
		<% end %>   
	</div>

	<div class="ui horizontal divider">
		مسیرهای پر سفر
	</div>

<% end %>



<div class="ui three stackable cards" style="width:70%;margin:auto;">
	<% @routes.each do |route| %>
		<div class="card">
			<div class="content">
				<div class="header web-font text-center">
					<a  href="<%= flight_result_path(route[:details][:origin][:english_name], route[:details][:destination][:english_name], "tomorrow") %>">
						<%= route[:details][:origin][:persian_name] %>
							به
						<%= route[:details][:destination][:persian_name] %>
					</a>
				</div>
				<div class="description text-center dir-rtl">
					<a  href="<%= flight_result_path(route[:details][:origin][:english_name], route[:details][:destination][:english_name], "tomorrow") %>">
						<%= tomorrow_price_by_rial route[:route] %>
					</a>	
				</div>
			</div>
			<a style="color:white" href="<%= flight_result_path(route[:details][:origin][:english_name], route[:details][:destination][:english_name], "tomorrow") %>">
				<div class="ui bottom attached button yellow web-font dir-rtl">
					نمایش پروازهای فردا
					<i class="right arrow icon"></i>				
				</div>
			</a>
		</div>
	<% end %>   
</div>

<%= render 'layouts/searchbox-helper', date_picker_inline: true %>   
<%= render 'layouts/footer' %>
