<% provide(:title,"پروازهاب: مقایسه قیمت بلیط") %>
<% provide(:description,"مقایسه قیمت بهترین سایت‌های فروش بلیط پرواز") %>

<div class="ui vertical masthead segment" id="cover-photo" style="direction: rtl; margin-bottom: 2em;">  
	<div class="ui container text center aligned header" id="slogan">
		<a href="/">
    		<div class="item" id="slogan-text">
      			<i class="circle notched icon" style="color: white"></i>
      			<span id="company-name">پروازهاب</span>
    		</div>
  		</a>
		<h1 class="ui header inverted center aligned web-font" style="line-height: 2em;font-size: 1.28rem !important;">
			<div>
				<span id="slogan-description">
				  مقایسه‌ی قیمت سایت‌های فروش بلیط پرواز؛<span style="color: #eaae00;"> رایگان.</span> سریع.  
				</span>
			</div>
		</h1>
	</div>

	<div class="ui stackable one column grid centered" style="margin-top: 1em">
   		<%= form_for(:search, url: flights_path, method: :get) do |f| %>
    		<div class="ui huge form" >
     			<div class="two fields">
      				<div class="field">
	   					<%= f.select :origin, @cities.map{ |key,value| [("از "+"#{value[:fa]}"),key]}, {},{:class =>'ui dropdown'} %>
      				</div>
      				<div class="field">
	   					<%= f.select :destination, @cities.map{ |key,value| [("به "+"#{value[:fa]}"),key]}, {:selected => @default_destination_city},{:class =>'ui dropdown'} %>
      				</div> 
  				</div>
  				<div id="date-picker" style="height: 10em; font-family: samim;">
						<%= f.text_field :date, {id: 'date-picker-field'} %>
      			</div>
  				<div class="ui center aligned basic segment" style="margin-top: 50px;">
  					<button class="ui submit massive yellow web-font fluid right labeled  icon button" type="submit">
							<i class="right arrow icon"></i>
							نمایش پروازها
					</button>
  				</div>
			</div>
		<%end%>
	</div>
	
</div>

<div class="six column stackable ui grid centered">
  	<% @flight_price_showoff_cities.each do |city| %>
		<% flight_list = Flight.new.get_lowest_price_collection("thr",city) %>
	  	<div class="column">
			<div class="ui fluid card">
			    <div class="image">
			    	<%= image_tag "cities/"+@cities[city.to_sym][:en]+".jpg",{class:"price-box-image"} %>
			    </div>
			    <div class="content">
			    	<% flight_list.each do |day,price| %>
						<% unless flight_list[day.to_sym].nil? %>
					    	<div class="date price-box-text">
					    		پرواز تهران به 
					    		<%= @cities[city.to_sym][:fa] %>
					    		<b><%= day_name_to_human day %></b>
								<span class="price-box-price">
									<%= link_to number_with_delimiter(flight_list[day.to_sym].best_price), search_link_builder("thr","#{city}",(Date.today).to_s) %>
								</span>تومان
					    	</div>
				    	<% end %>
				 	<% end %>  
				</div>
			</div>
		</div> 
	<% end %>   
</div>

<%= render 'layouts/searchbox-helper' %>