<% provide(:title,"پروازهاب: جستجو و مقایسه بلیط پرواز") %>
<% provide(:description,"جستجو و مقایسه قیمت بلیط پرواز") %>
<header>
<div class="ui grid" id="header">
  		<div class="two column row">
    		<div class="right floated left aligned column">
    		</div>
    		<div class="left floated right aligned column">
    			<%#= render 'devise/menu/login_items' %>
    			<%#= render 'devise/menu/registration_items' %>
       		</div>
  		</div>
	</div>
</header>


<div class="ui vertical masthead segment" id="cover-photo" style="direction: rtl; margin-bottom: 2em;">  
	<div class="ui container text center aligned header" id="slogan">
		<a href="/">
    		<div class="item" id="slogan-text">
      			<!--<i class="circle notched icon" style="color: white"></i>-->
      			<span id="company-name">پروازهاب</span>
    		</div>
  		</a>
		<h1 class="ui header inverted center aligned web-font" style="line-height: 2em;font-size: 1.28rem !important;">
			<div>
				<span id="slogan-description">
					 
					جستجو و مقایسه قیمت بلیط پرواز در سایت‌های معتبر: 
					<b class="yellow-text">رایگان</b>	
					و سریع				
				</span>
				<p>
					<!--<i class=" help icon"></i>-->
						<a href="#what-we-do" style="font-size:0.7em;color:white; text-decoration:underline">
							پروازهاب چطور کار می‌کند.		
						</a>
				</p>
			</div>
		</h1>
	</div>

	<div class="ui stackable one column grid centered" style="margin-top: 1em">
   		<%= form_for(:search, url: flight_search_path, method: :get, html: {id:"flight_search"}) do |f| %>
    		<div class="ui huge form" >
     			<div class="two fields">
      				<div class="field">
	   					<%= f.select :origin, @cities.map{ |key,value| [("از "+"#{value[:fa]}"),value[:en]]}, {},{:class =>'ui dropdown'} %>
      				</div>
      				<div class="field">
	   					<%= f.select :destination, @cities.map{ |key,value| [("به "+"#{value[:fa]}"),value[:en]]}, {:selected => @default_destination_city},{:class =>'ui dropdown'} %>
      				</div> 
  				</div>
  				<div id="date-picker" style="height: 10em; font-family: samim;">
						<%= f.text_field :date, {id: 'date-picker-field'} %>
      			</div>
  				<div class="ui center aligned basic segment" style="margin-top: 50px;">
  					<button class="ui submit massive yellow web-font fluid right labeled waiting-modal icon button" type="submit">
							<i class="right arrow icon"></i>
							نمایش پروازها
					</button>
  				</div>
			</div>
		<%end%>
	</div>
	<div>
		<h4 class="home-calendar-title">
		<i class="checked calendar icon"></i>
			تاریخی برای سفرتان ندارید؟ ارزان‌ترین قیمت‌ها را روی تقویم ببینید:<br><br>
			<%= link_to "تهران به کیش", route_page_path(origin_name:  "tehran",destination_name: "kish"),class:"city-page-link" %>،
			<%= link_to "تهران به مشهد", route_page_path(origin_name:  "tehran",destination_name: "mashhad"),class:"city-page-link" %>،
			<%= link_to "تهران به شیراز", route_page_path(origin_name:  "tehran",destination_name: "shiraz"),class:"city-page-link" %>
			
		</h4>
	</div>
	
</div>

<div style="width:100%;padding: 2.5em 0 4.5em 0;">      
	<div class="ui five column grid centered stackable">
		<div class="row">
			<div class="column center aligned">
			</div>
			<div class="column center aligned home-text">	
				<span class="home-title"> صرفه‌جویی در زمان‌</span>
					سایت‌های مختلف را نگردید. پروازهاب قیمت تمام سایت‌های معتبر فروش بلیط را برای‌تان لیست می‌کند.
			</div>
			<div class="column center aligned home-text">	
				<span class="home-title">سفر مطمئن</span>
				از هر آژانسی خرید نکنید. از بین سایت‌های معتبر در پروازهاب بلیط پرواز بخرید تا با خیال راحت سفر کنید.
			</div>
			<div class="column center aligned home-text">
				<span class="home-title">خرید ارزان</span>
				در پروازهاب قیمت‌ بلیط پرواز سایت‌های معتبر را مقایسه کنید تا با خیال راحت ارزان‌ترین بلیط پرواز را بیابید.
			</div>
			<div class="column center aligned"></div>
		</div>
	</div>
</div>

<div class="six column stackable ui grid centered">
  	<% @flight_price_showoff_cities.each do |city| %>
		<% flight_list = Flight.new.get_lowest_price_collection("thr",city) %>
	  	<div class="column">
			<div class="ui fluid card">
			    <div class="image">
			    	<%= image_tag "cities/"+@cities[city.to_sym][:en]+".jpg",{class:"price-box-image"} %>
			    </div>
			    <div class="content">
			    	<% flight_list.each do |day,flight| %>
						<% unless flight.nil? %>
					    	<div class="date price-box-text">
					    		پرواز تهران به 
					    		<%= @cities[city.to_sym][:fa] %>
					    		<b><%= day_name_to_human day %></b>
								<span class="price-box-price">
									<%= link_to number_with_delimiter(flight.best_price), search_link_builder("tehran","#{City.list[city.to_sym][:en]}",(flight.departure_time).to_date.to_s) %>
								</span>تومان
					    	</div>
				    	<% end %>
				 	<% end %>  
				</div>
			</div>
		</div> 
	<% end %>   
</div>

<%= render 'layouts/searchbox-helper' %>
<%= render 'layouts/footer' %>