<% provide(:title,"پروازهاب: مقایسه قیمت بلیط") %>
<% provide(:description,"مقایسه قیمت بهترین سایت‌های فروش بلیط پرواز") %>
<header>
<div class="ui grid" id="header">
  		<div class="two column row">
    		<div class="right floated left aligned column">
    		</div>
    		<div class="left floated right aligned column">
    			<%#= render 'devise/menu/login_items' %>
    			<%#= render 'devise/menu/registration_items' %>
       		</div>
  		</div>
	</div>
</header>


<div class="ui vertical masthead segment" id="cover-photo" style="direction: rtl; margin-bottom: 2em;">  
	<div class="ui container text center aligned header" id="slogan">
		<a href="/">
    		<div class="item" id="slogan-text">
      			<!--<i class="circle notched icon" style="color: white"></i>-->
      			<span id="company-name">پروازهاب</span>
    		</div>
  		</a>
		<h1 class="ui header inverted center aligned web-font" style="line-height: 2em;font-size: 1.28rem !important;">
			<div>
				<span id="slogan-description">
					 
					ارزان‌ترین فروشنده‌ی معتبر بلیط را پیدا کنید؛ 
					<b style="color:#FBBD08">رایگان</b>	
					و سریع				
				</span>
				<p>
					<a href="#what-we-do" style="font-size:0.7em;color:white; text-decoration:underline">
					  پروازهاب چه&zwnj;کاری برای شما انجام می&zwnj;دهد؟
					</a>
				</p>
			</div>
		</h1>
	</div>

	<div class="ui stackable one column grid centered" style="margin-top: 1em">
   		<%= form_for(:search, url: flights_path, method: :get) do |f| %>
    		<div class="ui huge form" >
     			<div class="two fields">
      				<div class="field">
	   					<%= f.select :origin, @cities.map{ |key,value| [("از "+"#{value[:fa]}"),key]}, {},{:class =>'ui dropdown'} %>
      				</div>
      				<div class="field">
	   					<%= f.select :destination, @cities.map{ |key,value| [("به "+"#{value[:fa]}"),key]}, {:selected => @default_destination_city},{:class =>'ui dropdown'} %>
      				</div> 
  				</div>
  				<div id="date-picker" style="height: 10em; font-family: samim;">
						<%= f.text_field :date, {id: 'date-picker-field'} %>
      			</div>
  				<div class="ui center aligned basic segment" style="margin-top: 50px;">
  					<button class="ui submit massive yellow web-font fluid right labeled  icon button showmodal" type="submit">
							<i class="right arrow icon"></i>
							نمایش پروازها
					</button>
  				</div>
			</div>
		<%end%>
	</div>
	<div>
		<h4 style="text-align: center;
    color: white;
    margin-top: 2em;">
		<i class="checked calendar icon"></i>
			تاریخی برای سفرتان ندارید؟ قیمت‌های بلیط
			<%= link_to "کیش", city_page_path(city_name:  "kish"),class:"city-page-link" %>،
			<%= link_to "مشهد", city_page_path(city_name:  "mashhad"),class:"city-page-link" %> یا
			<%= link_to "شیراز", city_page_path(city_name:  "shiraz"), class:"city-page-link" %>
			را ببینید و تصمیم بگیرید.
		</h4>
	</div>
	
</div>

<div class="six column stackable ui grid centered">
  	<% @flight_price_showoff_cities.each do |city| %>
		<% flight_list = Flight.new.get_lowest_price_collection("thr",city) %>
	  	<div class="column">
			<div class="ui fluid card">
			    <div class="image">
			    	<%= image_tag "cities/"+@cities[city.to_sym][:en]+".jpg",{class:"price-box-image"} %>
			    </div>
			    <div class="content">
			    	<% flight_list.each do |day,flight| %>
						<% unless flight.nil? %>
					    	<div class="date price-box-text">
					    		پرواز تهران به 
					    		<%= @cities[city.to_sym][:fa] %>
					    		<b><%= day_name_to_human day %></b>
								<span class="price-box-price">
									<%= link_to number_with_delimiter(flight.best_price), search_link_builder("thr","#{city}",(flight.departure_time).to_date.to_s) %>
								</span>تومان
					    	</div>
				    	<% end %>
				 	<% end %>  
				</div>
			</div>
		</div> 
	<% end %>   
</div>

<p id="what-we-do" class="web-font" style="margin: 5%;direction: rtl;border-top: 1px solid #eee;padding: 1em;line-height: 2em;">
پروازهاب فروشنده‌ی بلیط نیست. ما سایت‌های معتبر بلیط پرواز را جستجو می‌کنیم و بهترین قیمت‌ها را ارایه می‌کنیم. شما بعد از دیدن قیمت‌ها می‌توانید تصمیم بگیرید که از کدام فروشنده قصد خرید دارید، سپس از طریق لینک فراهم شده به سایت خریدار منتقل می‌شوید. <br>
استفاده از پروازهاب رایگان است. در حال حاضر سایت‌های معتبر فروش پرواز در پروازهاب جستجو می‌شوند و به مرور سایت‌های بیشتری را اضافه خواهیم کرد. <br>
ممنونیم که از پروازهاب استفاده می‌کنید. بسیار خوشحال خواهیم شد اگر نظرتان یا پیشنهادات‌تان را با ما مطرح کنید. از طریق ایمیل 
salam@parvazhub.com همیشه در دسترس هستیم.
</p>
<%= render 'layouts/searchbox-helper' %>
<%= render 'layouts/waiting_modal' %>
<%= render 'layouts/footer' %>
