<% provide(:title,"پروازهاب: انتقال به سایت فروشنده") %>
<% provide(:description,"مقایسه قیمت سایت‌های فروش بلیط") %>

<% if @flight_price.nil? %>
    <h1 style="text-align: center;padding: 3em;direction: rtl;">
    متاسفانه قیمت مورد نظر تغییر کرده و یا دیگر موجود نیست.
    <br><br>
    <a href="<%= @flight_price_link  %>">
    بازگشت به صفحه قبل
    </a>
    </h1>
<% else %>
    <h1 style="text-align: center;padding: 1em;direction: rtl;">
        در حال انتقال از پروازهاب به
        <br><br>
        <%= supplier_logo_for(@supplier,false,"small") %>
    </h1>

    <h3 style="line-height:1.9em;width:70%;margin:Auto;text-align: center;padding: 1em;direction: rtl;border-top:1px solid #ccc;margin-top:1em">
        حتما قبل از خرید
        <b style="color:#29aae1;"> مسیر </b>و 
        <b style="color:#29aae1;">تعداد مسافر </b>
        و 
        <b style="color:#29aae1;">قیمت </b>
        را در سایت فروشنده چک کنید.

        <br/><br/>
        <a href="<%= supplier_review_page_path(@supplier.downcase) %>" target="_blank">
            در صفحه‌ی نظرهای  <%= @supplier %> در سایت ما از تجربه خریدتان بنویسید
        </a>
    </h3>

    <div style="text-align: center;padding: 3em;direction: rtl;line-height: 1.5em;">
        اگر به طور خودکار به سایت فروشنده منتقل نشدید روی لینک زیر کلیک کنید:
        <br/>
        <a href="<%= @redirect_link %>" rel="nofollow"> انتقال به سایت فروشنده </a>
        <script>
          setTimeout(function(){
            window.location.href = "<%= @redirect_link.html_safe %>"; 
          }, 5000);
        </script>
    </div>
<% end %>
