	<div style="text-align: right"><i class="close big icon"></i></div>
	<table class="ui teal table rtl">
		<tbody>
			<% @flight_prices.each do |flight_price|  %>
				<tr class="center aligned very basic">
					<td><%= supplier_logo_for flight_price.supplier %></td>
					<td><%= number_with_delimiter(flight_price.price)+" تومان" %></td>
					<td>
						 <a href="/redirect/<%= flight_price.id%>" class="ui teal label big flight-price"  target= "_blank">
						 	<i class="external icon"></i> خرید از سایت <%= flight_price.supplier %> 
						 </a>
						<!--<span style="font-size:x-small"><%=  time_ago_in_words(flight_price.created_at) %></span>-->
					</td>
				</tr>
			<% end %>
			<% if @flight_prices.empty?  %>
				<tr class="center aligned very basic">
					<td>
						<p>پروازی که انتخاب کرده‌اید پر شده است. 
						<a href="#" onclick="javascript:window.location.reload(true); ">نمایش لیست به روز شده </a>
						</p>
					</td>
				</tr>
			<% end %>
		</tbody>		
	</table>
	<div class="ui cancel button web-font">بازگشت به لیست پروازها</div>

