
<%= render 'layouts/header' %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<% provide(:canonical,"<link rel=\"canonical\" href=\"http://parvazhub.com/flights/#{@search_parameter[:origin_name]}-#{@search_parameter[:destination_name]}\"/> ".html_safe)%>

<% provide(:title,"پروازهاب:‌ پروازهای #{@cities[@search_parameter[:origin_code].to_sym][:fa]} به #{@cities[@search_parameter[:destination_code].to_sym][:fa]}  #{@search_parameter[:date_in_human]} ")%>
<% provide(:description,"لیست پروازهای #{@cities[@search_parameter[:origin_code].to_sym][:fa]} به #{@cities[@search_parameter[:destination_code].to_sym][:fa]}  #{@search_parameter[:date_in_human]}") %>

<div class="ui container" id="search-results-container">
	<div class="ui grid" id="results-message">
  		<div class="two column row">
    		<div class="left floated column">
				<i class="plane icon"></i> 
				<%= @cities[@search_parameter[:origin_code].to_sym][:fa] %>
				  به 
				 <%= @cities[@search_parameter[:destination_code].to_sym][:fa] %> 
				 <%= @search_parameter[:date].to_date.to_parsi.strftime "%A %d %B"   %>
				 <br>
				 <a class="ui primary basic blue" onclick="$('#search-box-inner').transition('slide');" style="cursor:pointer">
				 <i class="search icon"></i> تغییر مبدا، مقصد یا تاریخ</a>
		 	</div>
		 	<div class="left floated column right aligned">
		  		<button class="ui tiny blue button web-font" onclick="$('#price-alert-register').transition('slide');">
		  		قیمت‌ها را هر روز به ایمیلم بفرست
		  		</button>
		  	</div>
		</div> 	
	</div>

	<div class="ui" id="price-alert-register">
	<%= form_tag(price_alert_register_path, method: :post, class: "ui form", remote: true) do %>			<div class="ui form">
			<div class="three fields">
				<div class="field text-right">
					<i class="alarm outline icon teal"></i>
					به چه آدرسی بفرستیم؟
				</div>
				<div class="field">
					<%= text_field_tag :email %>
					<%= hidden_field_tag(:origin, @search_parameter[:origin]) %>
					<%= hidden_field_tag(:destination, @search_parameter[:destination]) %>
					<%= hidden_field_tag(:date, @search_parameter[:date]) %>
				</div>
				<div class="field center aligned">
					<%= submit_tag "ثبت کن", class: "ui submit web-font blue button fluid" %>
				</div>	
			</div>
		</div>
	<%end%>
	</div>

	<div class="ui" id="search-box-inner">
		<%= form_for(:search, url: flight_search_path, method: :get, html: {id:"flight_search"}) do |f| %>
			<div class="ui form">
				<div class="four fields">
					<div class="field">
						<%= f.select :origin, @cities.map{ |key,value| [value[:fa],value[:en]]}, {:selected => @search_parameter[:origin_name]},{:class =>'ui dropdown'} %>
					</div>
					<div class="field">
						<%= f.select :destination, @cities.map{ |key,value| [value[:fa],value[:en]]}, {:selected => @search_parameter[:destination_name]},{:class =>'ui dropdown'} %>
					</div>
					<div class="field ui calendar">
						<div class="ui input left icon">
							<i class="calendar icon"></i>
							<%= f.text_field :date_shamsi, {id: 'date-picker', class:'form-control web-font', value: @search_parameter[:date], readonly: 'readonly', autocomplete: 'false'} %>
							<%= f.text_field :date, {id: 'date-picker-field'} %>
						</div>
					</div>
					<div class="field center aligned">
						<%= f.submit "جستجوی مجدد", class: "ui submit web-font yellow button  fluid waiting-modal" %>
					</div>
				</div>
			</div>
		<%end%>
	</div>

	<% flight_list = Flight.new.get_lowest_price_time_table(@search_parameter[:origin_code],@search_parameter[:destination_code],@search_parameter[:date]) %>
	<div class="ui mini five statistics" id="flight-price-table" >
	  <% flight_list.each do |key,value|%>
	  	<div class=" grey statistic">
		  <div class="value ">
		  	<%= value.nil? ? "<i class='plane icon'></i>".html_safe : number_with_delimiter(value.best_price)  %>
		  </div>
		  <div class="label web-font">
		  	<%= link_to(key.to_s.to_date.to_parsi.strftime("%A %d %B "), search_link_builder(@search_parameter[:origin_name],@search_parameter[:destination_name],key.to_s.to_date))   %>
		  </div>
	   	</div>
	  <% end %>
	</div>

	<% unless @flights.empty? %>
	<table class="ui teal table unstackable sortable rtl" id="flight-prices">
	  	<thead>
			<tr class="center aligned web-font">
	  			<th class="table-header">ایرلاین</th>
	  			<th class="table-header">ساعت </th>
	  			<th class="table-header">هواپیما</th>
	  			<th class="table-header sorted ascending">قیمت</th>
	  		</tr>
	  	</thead>
		<tbody>
			<% @flights.each do |flight|  %>
				<% unless flight.best_price == 0 %>
					<tr class="center aligned very basic">
						<td class="left aligned">
							<h5 class="ui image header web-font">
				          		<%= airline_logo_for flight.airline_code %> 
				          		<div class="content">
				            		<%= airline_name_for flight.airline_code %>
				            		<div class="sub header" style="margin-top: 7px">
				            			<%= flight.flight_number %>
				          			</div>
				        		</div>
			      			</h5>
						</td>
						<td>
							<div class="content">
									<%= hour_to_human flight.departure_time.to_datetime.strftime("%H:%M") %>
				            		<div class="sub header" style="margin-top: 7px;color: gray;font-size: 0.8em;">
										<%= (delay_to_human flight.delay) %>
				          			</div>
				        		</div>
						</td>
						<td><%= flight.airplane_type.empty? ? "نامشخص" : airplane_name_for(flight.airplane_type) %></td>
						<td>
							<%= link_to number_with_delimiter(flight.best_price)+" تومان <span class=\"nm\"> | مقایسه و خرید </span><i class='yellow arrow right icon'></i>".html_safe, flight_prices_path(flight.id), class: "ui teal label large flight-price", remote: true %>
							<%#= supplier_logo_for(flight.price_by) %>
						</td>
					</tr>
				<% end %>	
			<% end %>
		</tbody>
	</table>
	<% end %>

	<% if @flights.empty? %>
	  <p style="background:white;padding:2em;margin:2em;direction:rtl">
	    <i class="teal plane icon big"></i>	
    	  برای تاریخ مورد نظر شما هیچ پروازی موجود نیست. می‌توانید روزهای قبل و بعد را از بالای صفحه انتخاب کنید.
		<% unless which_city_page(@search_parameter[:origin],@search_parameter[:destination]).nil? %>	
			یا از طریق
			<a href="/city/<%= @cities[which_city_page(@search_parameter[:origin],@search_parameter[:destination]).to_sym][:en] %>">این صفحه</a>
			حداقل قیمت پروازهای
			<%= @cities[@search_parameter[:origin].to_sym][:fa] %> به <%= @cities[@search_parameter[:destination].to_sym][:fa] %>
			را روی تقویم ببینید.
		<% end %>
	  </p>
	<% end %>
	
	
 
</div>

<div class="ui basic modal prices">
      <p id="prices-modal-content"></p>
</div>
<script type="text/javascript">
	$('table').tablesort()
</script>

<%= render 'layouts/searchbox-helper' %>
<%= render 'layouts/footer' %>