
<%= render 'layouts/header' %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<% provide(:canonical,"<link rel=\"canonical\" href=\"http://parvazhub.com/flights/#{@search_parameter[:origin_name]}-#{@search_parameter[:destination_name]}\"/> ".html_safe)%>

<% provide(:title,"پروازهاب:‌ پرواز #{@cities[@search_parameter[:origin_code].to_sym][:fa]} به #{@cities[@search_parameter[:destination_code].to_sym][:fa]}  #{@search_parameter[:date_in_human]} ")%>
<% provide(:description,"لیست پروازهای #{@cities[@search_parameter[:origin_code].to_sym][:fa]} به #{@cities[@search_parameter[:destination_code].to_sym][:fa]}  #{@search_parameter[:date_in_human]}") %>

<div class="ui container" id="search-results-container">
	<div class="ui grid" id="results-message">
  		<div class="one column row">
    		<div class="column">
				<i class="plane icon"></i> 
				<%= @cities[@search_parameter[:origin_code].to_sym][:fa] %>
				  به 
				 <%= @cities[@search_parameter[:destination_code].to_sym][:fa] %> 
				 <%= @search_parameter[:date].to_date.to_parsi.strftime "%A %-d %B"   %>
				 <br>
				 <a class="ui primary basic blue" onclick="$('#search-box-inner').transition('slide');" style="cursor:pointer">
				 <i class="search icon"></i> تغییر مبدا، مقصد یا تاریخ</a>
		 	</div>
		 	<!--<div class="left floated column right aligned">
		  		<button class="ui tiny blue button web-font" onclick="$('#price-alert-register').transition('slide');">
		  		قیمت‌ها را هر روز به ایمیلم بفرست
		  		</button>
		  	</div>-->
		</div> 	
	</div>

	<!--<div class="ui" id="price-alert-register">
	<%= form_tag(price_alert_register_path, method: :post, class: "ui form", remote: true) do %>			<div class="ui form">
			<div class="three fields">
				<div class="field text-right">
					<i class="alarm outline icon teal"></i>
					به چه آدرسی بفرستیم؟
				</div>
				<div class="field">
					<%= text_field_tag :email %>
					<%= hidden_field_tag(:origin, @search_parameter[:origin_code]) %>
					<%= hidden_field_tag(:destination, @search_parameter[:destination_code]) %>
					<%= hidden_field_tag(:date, @search_parameter[:date]) %>
				</div>
				<div class="field center aligned">
					<%= submit_tag "ثبت کن", class: "ui submit web-font blue button fluid" %>
				</div>	
			</div>
		</div>
	<%end%>
	</div>-->

	<div class="ui" id="search-box-inner">
		<%= form_for(:search, url: flight_search_path, method: :get, html: {id:"flight_search"}) do |f| %>
			<div class="ui form">
				<div class="four fields">
					<div class="field">
						<%= f.select :origin, @cities.map{ |key,value| [value[:fa],value[:en]]}, {:selected => @search_parameter[:origin_name]},{:class =>'ui dropdown'} %>
					</div>
					<div class="field">
						<%= f.select :destination, @cities.map{ |key,value| [value[:fa],value[:en]]}, {:selected => @search_parameter[:destination_name]},{:class =>'ui dropdown'} %>
					</div>
					<div class="field ui calendar">
						<div class="ui input left icon">
							<i class="calendar icon"></i>
							<%= f.text_field :date_shamsi, {id: 'date-picker', class:'form-control web-font', value: @search_parameter[:date], readonly: 'readonly', autocomplete: 'false'} %>
							<%= f.text_field :date, {id: 'date-picker-field'} %>
						</div>
					</div>
					<div class="field center aligned">
						<%= f.submit "جستجوی مجدد", class: "ui submit web-font yellow button  fluid waiting-modal" %>
					</div>
				</div>
			</div>
		<%end%>
	</div>

	<div class="ui mini five statistics" id="flight-price-table" >
	  <% @flight_dates.each do |key,value|%>
	  	<div class=" grey statistic">
		  <div class="value ">
			  <%= link_to((value.nil? ? "<i class='plane icon'></i>".html_safe : number_with_delimiter(value.best_price)), search_link_builder(@search_parameter[:origin_name],@search_parameter[:destination_name],key.to_s.to_date))   %>
			  
		  </div>
		  <div class="label web-font">
		  	<%= link_to(key.to_s.to_date.to_parsi.strftime("%A %-d %B "), search_link_builder(@search_parameter[:origin_name],@search_parameter[:destination_name],key.to_s.to_date))   %>
		  </div>
	   	</div>
	  <% end %>
	</div>

	<% unless @flights.empty? %>
	<table class="ui blue table unstackable sortable rtl" id="flight-prices">
	  	<thead>
			<tr class="center aligned web-font">
	  			<th class="table-header">ایرلاین</th>
	  			<th class="table-header">ساعت </th>
	  			<th class="table-header nm">هواپیما</th>
	  			<th class="table-header sorted ascending">قیمت</th>
	  		</tr>
	  	</thead>
		<tbody>
			<% @flights.each do |flight|  %>
				<% unless ((flight.best_price == 0) or (flight.suppliers_count == 0))  %>
					<tr class="center aligned very basic" >
						<td class="left aligned">
							<div class="two fields">
								<div class="field">
									<a href="<%= flight_prices_path(@search_parameter[:origin_name],@search_parameter[:destination_name],@search_parameter[:date],flight.id) %>" data-remote="false">														
										<h5 class="ui image header web-font">
											<%= airline_logo_for flight.airline_code %> 
											<div class="content">
												<%= airline_name_for flight.airline_code %>
												<div class="ui tiny rating">
											</div>
												<div class="sub header" style="margin-top: 7px">
													<span class="nm"><%= flight.flight_number %></span>
													<span class="mobile-only"><%= flight.airplane_type.empty? ? "" : airplane_name_for(flight.airplane_type) %></span>													
												</div>
											</div>
										</h5>
									</a>
								</div>
								<div class="field">
									<% unless @airline_english_list[flight.airline_code.to_sym].nil? %>
										<a href="<%= property_page_path(Airline.find_by(code: flight.airline_code).english_name) %>" >
										
										<button class="mini ui basic button web-font" style="font-size: 0.9em;">
											<%= get_star_icon(5,get_airline_rate(flight.airline_code),"green","small").html_safe %>
											<span style="width:100%;display:block; padding-top:5px;">
												امتیاز به <%= airline_name_for flight.airline_code %>  
											</span>
										</button>										
										
										
										</a>
									<% end %>		
								</div>
							</div>	
						</td>
						<td>
							<div class="content">
									<%= hour_to_human flight.departure_time.to_datetime.strftime("%H:%M") %>
				            		<div class="sub header" style="margin-top: 7px;color: gray;font-size: 0.8em;">
										<%= (delay_to_human flight.delay) %>
				          			</div>
				        		</div>
						</td>
						<td class="nm"><%= flight.airplane_type.empty? ? "-" : airplane_name_for(flight.airplane_type) %></td>
						<td>
							<div class="suppliers-count">	
								<b>
									<a href="<%= flight_prices_path(@search_parameter[:origin_name],@search_parameter[:destination_name],@search_parameter[:date],flight.id) %>" data-remote="false" style="color:black">	
										مشاهده‌ ارزان‌ترین قیمت از <%= flight.suppliers_count %> سایت 
									</a>
								</b>
							</div>
							<a href="<%= flight_prices_path(@search_parameter[:origin_name],@search_parameter[:destination_name],@search_parameter[:date],flight.id) %>" data-remote="false">	
								<button class="ui submit yellow web-font fluid right labeled icon button flight-price-button" style="padding-right: 0 !important;">
									<i class="right arrow icon"></i> از
									<%= "#{number_with_delimiter(flight.best_price)} تومان " %>
									
								</button>
							</a>
						</td>
					</tr>
				<% end %>	
			<% end %>
		</tbody>
	</table>
	<% end %>

	<% if @flights.empty? %>
	  	<div class="standard-text" style="background:white;padding-top:2em;margin:2em;direction:rtl">
		
			<i class="teal warning circle icon big"></i>	
			<% if @search_parameter[:date].to_date < Date.today %>
				امروز 
				<%= Date.today.to_date.to_parsi.strftime "%A %-d %B"   %> 
				است. تاریخ پرواز را از لینک‌های پایین انتخاب کنید:
			<% else %>
			پروازی در روز 
			<%= @search_parameter[:date].to_date.to_parsi.strftime "%A %-d %B"   %> 
			موجود نیست. و یا ظرفیت پرواز پر شده است.
			پرواز برای تاریخ‌های زیر را چک کنید:	
			<% end %>
			
			<ul>
				<% @flight_dates.each do |key,value|%>
					<% unless key.to_s == @search_parameter[:date].to_s %>
					
					<li>
						<% link_text = "جستجوی پرواز #{@cities[@search_parameter[:origin_code].to_sym][:fa]} به #{@cities[@search_parameter[:destination_code].to_sym][:fa]} "+key.to_s.to_date.to_parsi.strftime("%A %-d %B ") %>
						<%= link_to(link_text, search_link_builder(@search_parameter[:origin_name],@search_parameter[:destination_name],key.to_s.to_date))   %>
					</li>
					<% end %>
				<% end %>
			</ul>
			اگر همچنان موفق به پیدا کردن پرواز مورد نظرتان نشدید، صفحه‌ی  
			<%= link_to "پروازهای #{@cities[@search_parameter[:origin_code].to_sym][:fa]} به #{@cities[@search_parameter[:destination_code].to_sym][:fa]}", route_page_path(origin_name:  @search_parameter[:origin_name],destination_name: @search_parameter[:destination_name], :anchor => "city-calendar"),class:"city-page-link" %> روی تقویم را ببینید.

			<h5 class="web-font">
				<i class="teal warning circle icon big"></i>
				چه روزهایی
				<%= " #{@cities[@search_parameter[:origin_code].to_sym][:fa]} به  #{@cities[@search_parameter[:destination_code].to_sym][:fa]}" %> 
				پرواز دارد؟
			</h5>
			<% unless @route_days.empty? %>
				<% @route_days.each do |day|   %>
					<%= week_day_to_human_persian day  %>
				<% end %>
			<% else %>
				برای هیچ روزی در هفته پروازی در این مسیر وجود ندارد.
			<% end %>
			

		
		</div>	
	<% end %>
	
	
 
</div>

<div class="ui basic modal prices">
      <p id="prices-modal-content"></p>
</div>
<script type="text/javascript">
	$('table').tablesort();
</script>

<%= render 'layouts/searchbox-helper' %>
<%= render 'layouts/footer' %>
