<% provide(:title,"پروازهاب:‌ پروازی موجود نیست")%>

<div class="ui container" id="search-results-container" style="direction: rtl;padding-top: 2em;" >
	<div class="ui stackable one column grid centered" style="margin-top: 1em">
	<div style="font-size:1.5em; padding:1.5em">
	مسیر مورد نظر شما در سیستم ما موجود نیست. لطفا مسیر دیگری انتخاب کنید.
	</div>
	
	<%= form_for(:search, url: flight_search_path, method: :get, html: {id:"flight_search"}) do |f| %>
		<div class="ui huge form" >
			<div class="two fields">
				<div class="field input-container">
					<%= f.text_field :originـfield,{:class =>'origin-field typeahead dir-rtl web-font',placeholder: "از مبدا (شهر یا فرودگاه)"} %>						   
					<%= f.hidden_field :origin,{:id =>'origin'} %>
				</div>
				
				
				<div class="field input-container">
					<%= f.text_field :destination_field,{:class =>'destination-field typeahead dir-rtl web-font',placeholder: "به مقصد (شهر یا فرودگاه)"} %>
					<%= f.hidden_field :destination,{:id =>'destination'} %>
				</div> 
			</div>
			<div id="date-picker" style="height: 10em; font-family: samim;">
					<%= f.text_field :date, {id: 'date-picker-field'} %>
			</div>
			<div class="ui center aligned basic segment" style="margin-top: 50px;">
				<button class="ui submit massive yellow web-font fluid right labeled waiting-modal icon button" type="submit">
						<i class="right arrow icon"></i>
						نمایش پروازها
				</button>
			</div>
		</div>
	<%end%>
	</div>

</div>

<%= render 'layouts/searchbox-helper', date_picker_inline: false %>   
