<%= render 'layouts/header' %>
<% provide(:title,"پروازهاب:‌ پروازی موجود نیست")%>

<div class="ui container" id="search-results-container" >
<p style="    text-align: center;margin: 2em;direction: rtl;font-weight: bold;">مسیر مورد نظر شما در سرویس ما موجود نیست. لطفا مسیر جدیدی انتخاب کنید.</p>
	<div class="ui" id="search-box-inner" style="display: block !important">
		<%= form_for(:search, url: search_path, method: :get) do |f| %>
			<div class="ui form">
				<div class="four fields">
					<div class="field">
						
						<%= f.select :origin, @cities.map{ |key,value| [value[:fa],key]}, {:class =>'ui dropdown'} %>
					</div>
					<div class="field">
						<%= f.select :destination, @cities.map{ |key,value| [value[:fa],key]}, {:selected => @default_destination_city},{:class =>'ui dropdown'} %>
					</div>
					<div class="field ui calendar">
						<div class="ui input left icon">
							<i class="calendar icon"></i>
							<%= f.text_field :date_shamsi, {id: 'date-picker', class:'form-control web-font', readonly: 'readonly', autocomplete: 'false'} %>
							<%= f.text_field :date, {id: 'date-picker-field'} %>
						</div>
					</div>
					<div class="field center aligned">
						<%= f.submit "جستجوی مجدد", class: "ui submit web-font grey button  fluid" %>
					</div>
				</div>
			</div>
		<%end%>
	</div>

</div>

<%= render 'layouts/searchbox-helper' %>
<div class="ui basic modal prices" style="left: initial;text-align: center;">
      <p id="prices-modal-content"></p>
</div>
<script type="text/javascript">
	$('table').tablesort()
</script>/