	<div style="text-align: right"><i class="close big icon"></i></div>
	<table class="ui teal table rtl" style="width:97% !important">
		<tbody>
			<% @flight_prices.each_with_index do |flight_price,index|  %>
				<tr class="center aligned very basic">
					<td width="1%">
						<% if index==0 %>	
							<span class="ui red tiny label"><i class="checkmark icon"></i>ارزان‌ترین</span>
						<% end %>
					</td>
					<td>	
						<%= supplier_logo_for flight_price.supplier, false %>
						وب‌سایت <%=  flight_price[:supplier_persian_name] %> 
					</td>
					<td>	
						<a href="/redirect/website/<%= flight_price.id%>"  target= "_blank">
							<b><%= number_with_delimiter(flight_price.price) %></b> تومان
						</a>
					</td>
					<td>
						 <a href="/redirect/website/<%= flight_price.id%>" class="ui green label  flight-price"  target= "_blank">
						 	<i class="external icon"></i> خرید از سایت <%=  flight_price[:supplier_persian_name] %>  در پنجره جدید 
						 </a>
						<!--<span style="font-size:x-small"><%=  time_ago_in_words(flight_price.created_at) %> ago</span>-->
					</td>
					<td width="10%">
					</td>
				</tr>
			<% end %>
			<% if @flight_prices.empty?  %>
				<tr class="center aligned very basic">
					<td>
						<p>پروازی که انتخاب کرده‌اید پر شده است.  
						<a href="#" onclick="javascript:window.location.reload(true); ">نمایش لیست به روز شده </a>
						</p>
					</td>
				</tr>
			<% end %>
			<% if @prices.count > 1 %>
				<tr>
					<td colspan="6">
						<div style="width:90%; min-height:10em; margin:auto;" >
							<canvas id="myChart"></canvas>

							<script>
							var labels = <%= raw @dates %>;
							var data = <%= @prices %>;
							var ctx = document.getElementById("myChart").getContext('2d');
							$(document).ready(function(){
								var myChart = new Chart(ctx, {
									type: 'line',
									data: {labels: labels,datasets: [{label: "تغییرات حداقل قیمت بلیط",borderColor: 'rgb(154, 154, 154)',backgroundColor:  'rgb(154, 154, 154)', data: data,fill: false,lineTension: 0}]},
									options: {
										showLines: true,
										scales: {
											xAxes: [{
												ticks: {
													autoSkip: false
												}
											}]
										}
									}
								});
							});
							</script>
						</div>
					</td>
				</tr>
			<% end %>
		</tbody>		
	</table>
	
	<div class="ui cancel button web-font">بازگشت به لیست پروازها</div>

