  <div style="margin-top:2em">
    <div class="ui stackable sixteen column grid" style="background: #fafafa;border-top: #eee 1px solid;font-size: 1em;">
      <div class="sixteen wide column">
        <div id="what-we-do" class="web-font"  style="direction: rtl;text-align:center;padding: 1em 2em 1em 2em;line-height: 2em; font-size:1em">
        پروازهاب تمام سایت‌های معتبر پرواز را برای یافتن ارزان‌ترین و بهترین زمان سفر جستجو می‌کند
          <div style="margin-top: 1em">
            <% suppliers_list.each do |supplier| %>
              <span style="margin: 20px">
                <a href="<%= supplier_review_page_path supplier.name.downcase  %>" class="grayscale footer-suppliers" >
                  <%= supplier_logo_for(supplier.name.downcase, false) %>
                </a>
              </span>
            <% end %>
          </div>
        </div>	
      </div>
    </div>
  </div>

  <div class="ui stackable sixteen column grid" style="background: #f1f1f1;border-bottom: #d8d8d8 1px solid;font-size: 1em;">
    <div class="two wide column"></div>
      <div class="six wide column">
        <div class="web-font footer-section">
          <% review = get_last_supplier_review %>
          <% unless review.nil? %>
            <div class="review-card-for-footer">
              <div style=" padding:5px; text-align:right; font-size:0.8em">
                  <i class="comment alternate icon"></i>
                  <b><%= review["author"] %></b>
                  درباره  وب‌سایت
                  <b>
                    <a href="<%= supplier_review_page_path(property_name: review["page"])%>">
                    <%= review["persian_name"] %>
                    </a>
                  </b>
                   نوشته:
              </div>
              <div>
                <%= review["text"][0..100] %><a href="<%= supplier_review_page_path(property_name: review["page"])%>/#<%= review["id"] %>">...</a>
              </div>
            </div>
          <% end %>
          <a href="<%= supplier_review_index_page_path %>" target="_blank" style="font-size:1.2em; padding-top:5px"> 
            <i class="comments icon"></i>
            <b>
              شما هم از تجربه خریدتان از سایت‌ها بنویسید
            </b>
          </a>          
      </div>
    </div>

    <div class="six wide column">
        <div class="web-font footer-section" >
          <% review = get_last_airline_review %>
          <% unless review.nil? %>
            <div class="review-card-for-footer">
              <div style=" padding:5px; text-align:right; font-size:0.8em">
                  <i class="comment alternate icon"></i>
                  <b><%= review["author"] %></b>
                  درباره خط هوایی 
                  <b>
                    <a href="<%= airline_review_page_path(property_name: review["page"])%>">
                    <%= review["persian_name"] %>
                    </a>
                  </b>
                   نوشته:
              </div>
              <div>
                <%= review["text"][0..100] %><a href="<%= airline_review_page_path(property_name: review["page"])%>/#<%= review["id"] %>">...</a>
              </div>
            </div>
          <% end %>
          <a href="<%= airline_review_index_page_path %>" target="_blank" style="font-size:1.2em"> 
            <i class="comments icon"></i>
            <b>
            نظرتان در مورد خطوط هوایی را بنویسید
            </b>
          </a>     
      </div>
    </div>
    <div class="two wide column"></div>
  </div>

  <div class="ui stackable sixteen column grid" style="background: #f1f1f1;border-top: #eee 1px solid;font-size: 1em;">
    <div class="sixteen wide column">
      <div class="web-font"  style="direction: rtl;text-align:center;padding: 1em 2em 1em 2em;line-height: 2em; font-size:1em;color:gray">
        <%= link_to "قوانین به زبان ساده", policy_path, class:"footer-link" %> |
        <%= link_to "تمام پروازها", flight_page_path,class:"footer-link" %> 
      </div>
      <div id="last-commit">
        <%= github_link %>
      </div>
    </div>

  <div class="ui basic modal waiting" style="left: initial;text-align: center;font-size: x-large;">
    <div class="description">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
        <p style="margin-top:2em;"> در حال جستجوی پروازها</p>  
        <p >لطفا چند ثانیه صبر کنید</p>
    </div>   
  </div>
</div>
