<!DOCTYPE html>
<html lang="fa">
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="theme-color" content="#FBBD08">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= yield(:description) %>">
    <meta property="og:title" content="<%= yield(:title) %>" />
    <meta property="og:description" content="<%= yield(:description) %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.parvazhub.com" />
    <meta property="og:image" content="https://www.parvazhub.com/logo.jpg" />
    <%= yield(:canonical) %>    
    <meta name="google-site-verification" content="whIYozl54Dyn0zmidp97ERdhDtAp4DU2AiUDZoizQ-I" />
  </head>

  <body> 

    <%= yield %>
    
    <%= debug(params) if Rails.env.development? %>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','GTM-P93NTB5');</script>

   </body>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload"  %>
</html>
